<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDx6M88HdUC4YfxZK8A4UxwM-AucYrpCe8</string>
	<key>GCM_SENDER_ID</key>
	<string>1098592064630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.tum.cit.ase.ios2324.tum</string>
	<key>PROJECT_ID</key>
	<string>ipraktikum-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>ipraktikum-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098592064630:ios:0e47f83fa095cedb03fb57</string>
</dict>
</plist>